.side
  .side__name
    .side__name--user
      = link_to new_task_path, class: 'name' do 
        - current_user.username
  .side__member
    member:
  .user
    - @users.each do |user|
      .user__name
        = link_to '/users/:id', class: 'member' do 
          -user.username
          
        -# = link_to new_task_path, class: 'member' do 
  -# .side__memberbox--name
  -#   -@users
  -# .side__memberbox--name
  -#   takeshi
  -# .side__memberbox--name
  -#   atsushi
